.fondo-barros-luco {
    background-image: url(../../../assets/img/entrada-historica-hospital-barros-luco.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dropdown-fijo .p-dropdown-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}