<div class="min-h-screen lg:h-screen w-full bg-cover bg-center flex flex-col lg:overflow-hidden">

    <!-- Aquí va tu header y el resto -->
    <header
        class="w-full p-4 lg:px-12 flex flex-col lg:flex-row items-center justify-between relative bg-[#073763] shrink-0">


        <div class="flex items-center gap-2 mb-4 lg:mb-0">
            <img src="https://portalpaciente.hospitalsoterodelrio.cl/static/img/portalpaciente2.png"
                alt="Logo izquierdo" class="h-12 lg:h-16 border-r-2 border-white pr-2 mr-4">

            <svg xmlns="http://www.w3.org/2000/svg" class="lg:h-[52px] lg:w-[52px] h-[40px] w-[40px]"
                viewBox="0 0 448 512">
                <path fill="#ffffff"
                    d="M144 128a80 80 0 1 1 160 0 80 80 0 1 1 -160 0zm208 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0zM48 480c0-70.7 57.3-128 128-128l96 0c70.7 0 128 57.3 128 128l0 8c0 13.3 10.7 24 24 24s24-10.7 24-24l0-8c0-97.2-78.8-176-176-176l-96 0C78.8 304 0 382.8 0 480l0 8c0 13.3 10.7 24 24 24s24-10.7 24-24l0-8z" />
            </svg>
            <div class="flex items-center gap-2 text-xl lg:text-4xl text-white text-center lg:text-left">

                <span>
                    {{ usuarioSeleccionado?.nombre }} (
                </span>

                <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer lg:h-[40px] lg:w-[40px] h-[30px] w-[30px]"
                    viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="#63E6BE"
                        d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                </svg>

                <span class="text-xl lg:text-4xl text-white cursor-pointer">Añadir nombre social )</span>

            </div>

        </div>

        <div class="grid grid-cols-2 gap-2 w-full lg:w-auto">
            <div (click)="atrasAdministrador()" *ngIf="id_perfil == '1'"
                class="justify-end place-self-end border-r px-2 cursor-pointer " pTooltip=" - Volver Atras - "
                tooltipPosition="top">
                <button (click)="atrasAdministrador()">
                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="48" width="48"
                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                        <path fill="#ffffff"
                            d="M73.4 297.4C60.9 309.9 60.9 330.2 73.4 342.7L233.4 502.7C245.9 515.2 266.2 515.2 278.7 502.7C291.2 490.2 291.2 469.9 278.7 457.4L173.3 352L544 352C561.7 352 576 337.7 576 320C576 302.3 561.7 288 544 288L173.3 288L278.7 182.6C291.2 170.1 291.2 149.8 278.7 137.3C266.2 124.8 245.9 124.8 233.4 137.3L73.4 297.3z" />
                    </svg>
                </button>
            </div>
            <button
                class="w-full bg-[#1D609D] hover:bg-blue-600 text-white font-semibold py-2 px-4 lg:py-3 lg:px-9 rounded-md border-white text-lg lg:text-xl cursor-pointer"
                (click)="logout()">
                Cerrar Sesión
            </button>
        </div>

        <div class="absolute bottom-0 left-0 flex w-full h-[4px]">
            <div class="w-1/2 bg-[#0066B2]"></div>
            <div class="w-1/2 bg-[#EE3740]"></div>
        </div>

    </header>

    <div class="flex-grow w-full grid grid-cols-1 lg:grid-cols-3 gap-4 p-4 lg:p-0 lg:overflow-auto">
        <div class="h-full w-full p-4">

            <div class="border-2 h-full  rounded-xl overflow-hidden">
                <div class="bg-[#D9D9D9] text-black text-center py-3">
                    <span class="text-xl font-semibold">Datos Demográficos</span>
                </div>
                <div class="border-b"></div>
                <form [formGroup]="userform">
                    <div class="p-4">
                        <div>
                            <span class="text-base font-semibold ">Identificador</span>
                            <input type="text" pInputText formControlName="identificador" placeholder="19xxxxxx-x"
                                class="w-full border p-1 rounded-md bg-gray-300 cursor-not-allowed" />
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Fecha Nacimiento</span>
                            <input type="text" pInputText formControlName="fecha_nacimiento" placeholder="DD/MM/AAAA"
                                class="w-full border p-1 rounded-md bg-gray-300 cursor-not-allowed" />
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Pais</span>
                            <input type="text" pInputText formControlName="pais" placeholder="CHILE"
                                class="w-full border p-1 rounded-md bg-gray-300 cursor-not-allowed" />

                        </div>
                        <div>
                            <span class="text-base font-semibold ">Religion</span>
                            <div class="flex items-center gap-2">
                                <div class="flex-1" [class.bg-gray-300]="userform.get('religion')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('religion')?.disabled">
                                    <p-dropdown [options]="religionLista" formControlName="religion"
                                        optionLabel="nombre" optionValue="codigo" placeholder="Seleccione"
                                        styleClass="w-full border p-1">
                                    </p-dropdown>
                                </div>

                                <button class="cursor-pointer" pTooltip=" - Editar Información - " tooltipPosition="top"
                                    (click)="activarCampo(1)">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#FFD43B"
                                            d="M505 122.9L517.1 135C526.5 144.4 526.5 159.6 517.1 168.9L488 198.1L441.9 152L471 122.9C480.4 113.5 495.6 113.5 504.9 122.9zM273.8 320.2L408 185.9L454.1 232L319.8 366.2C316.9 369.1 313.3 371.2 309.4 372.3L250.9 389L267.6 330.5C268.7 326.6 270.8 323 273.7 320.1zM437.1 89L239.8 286.2C231.1 294.9 224.8 305.6 221.5 317.3L192.9 417.3C190.5 425.7 192.8 434.7 199 440.9C205.2 447.1 214.2 449.4 222.6 447L322.6 418.4C334.4 415 345.1 408.7 353.7 400.1L551 202.9C579.1 174.8 579.1 129.2 551 101.1L538.9 89C510.8 60.9 465.2 60.9 437.1 89zM152 128C103.4 128 64 167.4 64 216L64 488C64 536.6 103.4 576 152 576L424 576C472.6 576 512 536.6 512 488L512 376C512 362.7 501.3 352 488 352C474.7 352 464 362.7 464 376L464 488C464 510.1 446.1 528 424 528L152 528C129.9 528 112 510.1 112 488L112 216C112 193.9 129.9 176 152 176L264 176C277.3 176 288 165.3 288 152C288 138.7 277.3 128 264 128L152 128z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Estado Civil</span>
                            <div class="flex items-center gap-2">
                                <div class="flex-1" [class.bg-gray-300]="userform.get('estado_civil')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('estado_civil')?.disabled">
                                    <p-dropdown [options]="estadoCivilLista" formControlName="estado_civil"
                                        optionLabel="nombre" optionValue="codigo" placeholder="Seleccione"
                                        styleClass="w-full border p-1">
                                    </p-dropdown>
                                </div>
                                <button class="cursor-pointer" pTooltip=" - Editar Información - " tooltipPosition="top"
                                    (click)="activarCampo(2)">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#FFD43B"
                                            d="M505 122.9L517.1 135C526.5 144.4 526.5 159.6 517.1 168.9L488 198.1L441.9 152L471 122.9C480.4 113.5 495.6 113.5 504.9 122.9zM273.8 320.2L408 185.9L454.1 232L319.8 366.2C316.9 369.1 313.3 371.2 309.4 372.3L250.9 389L267.6 330.5C268.7 326.6 270.8 323 273.7 320.1zM437.1 89L239.8 286.2C231.1 294.9 224.8 305.6 221.5 317.3L192.9 417.3C190.5 425.7 192.8 434.7 199 440.9C205.2 447.1 214.2 449.4 222.6 447L322.6 418.4C334.4 415 345.1 408.7 353.7 400.1L551 202.9C579.1 174.8 579.1 129.2 551 101.1L538.9 89C510.8 60.9 465.2 60.9 437.1 89zM152 128C103.4 128 64 167.4 64 216L64 488C64 536.6 103.4 576 152 576L424 576C472.6 576 512 536.6 512 488L512 376C512 362.7 501.3 352 488 352C474.7 352 464 362.7 464 376L464 488C464 510.1 446.1 528 424 528L152 528C129.9 528 112 510.1 112 488L112 216C112 193.9 129.9 176 152 176L264 176C277.3 176 288 165.3 288 152C288 138.7 277.3 128 264 128L152 128z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Pueblo Indigena</span>
                            <div class="flex items-center gap-2">
                                <div class="flex-1" [class.bg-gray-300]="userform.get('pueblo_indigena')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('pueblo_indigena')?.disabled">
                                    <p-dropdown [options]="puebloOriginarioLista" formControlName="pueblo_indigena"
                                        optionLabel="nombre" optionValue="codigo" placeholder="Seleccione"
                                        styleClass="w-full border p-1">
                                    </p-dropdown>
                                </div>

                                <button class="cursor-pointer" pTooltip=" - Editar Información - " tooltipPosition="top"
                                    (click)="activarCampo(3)">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#FFD43B"
                                            d="M505 122.9L517.1 135C526.5 144.4 526.5 159.6 517.1 168.9L488 198.1L441.9 152L471 122.9C480.4 113.5 495.6 113.5 504.9 122.9zM273.8 320.2L408 185.9L454.1 232L319.8 366.2C316.9 369.1 313.3 371.2 309.4 372.3L250.9 389L267.6 330.5C268.7 326.6 270.8 323 273.7 320.1zM437.1 89L239.8 286.2C231.1 294.9 224.8 305.6 221.5 317.3L192.9 417.3C190.5 425.7 192.8 434.7 199 440.9C205.2 447.1 214.2 449.4 222.6 447L322.6 418.4C334.4 415 345.1 408.7 353.7 400.1L551 202.9C579.1 174.8 579.1 129.2 551 101.1L538.9 89C510.8 60.9 465.2 60.9 437.1 89zM152 128C103.4 128 64 167.4 64 216L64 488C64 536.6 103.4 576 152 576L424 576C472.6 576 512 536.6 512 488L512 376C512 362.7 501.3 352 488 352C474.7 352 464 362.7 464 376L464 488C464 510.1 446.1 528 424 528L152 528C129.9 528 112 510.1 112 488L112 216C112 193.9 129.9 176 152 176L264 176C277.3 176 288 165.3 288 152C288 138.7 277.3 128 264 128L152 128z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Ocupacion</span>
                            <div class="flex items-center gap-2">
                                <div class="flex-1 dropdown-fijo"
                                    [class.bg-gray-300]="userform.get('ocupacion')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('ocupacion')?.disabled">
                                    <p-dropdown [options]="ocupacionLista" formControlName="ocupacion"
                                        optionLabel="nombre" optionValue="codigo" placeholder="Seleccione"
                                        styleClass="w-full border p-1 dropdown-fijo">
                                    </p-dropdown>
                                </div>

                                <button class="cursor-pointer" pTooltip=" - Editar Información - " tooltipPosition="top"
                                    (click)="activarCampo(4)">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#FFD43B"
                                            d="M505 122.9L517.1 135C526.5 144.4 526.5 159.6 517.1 168.9L488 198.1L441.9 152L471 122.9C480.4 113.5 495.6 113.5 504.9 122.9zM273.8 320.2L408 185.9L454.1 232L319.8 366.2C316.9 369.1 313.3 371.2 309.4 372.3L250.9 389L267.6 330.5C268.7 326.6 270.8 323 273.7 320.1zM437.1 89L239.8 286.2C231.1 294.9 224.8 305.6 221.5 317.3L192.9 417.3C190.5 425.7 192.8 434.7 199 440.9C205.2 447.1 214.2 449.4 222.6 447L322.6 418.4C334.4 415 345.1 408.7 353.7 400.1L551 202.9C579.1 174.8 579.1 129.2 551 101.1L538.9 89C510.8 60.9 465.2 60.9 437.1 89zM152 128C103.4 128 64 167.4 64 216L64 488C64 536.6 103.4 576 152 576L424 576C472.6 576 512 536.6 512 488L512 376C512 362.7 501.3 352 488 352C474.7 352 464 362.7 464 376L464 488C464 510.1 446.1 528 424 528L152 528C129.9 528 112 510.1 112 488L112 216C112 193.9 129.9 176 152 176L264 176C277.3 176 288 165.3 288 152C288 138.7 277.3 128 264 128L152 128z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Sexo</span>
                            <div class="flex items-center gap-2">
                                <div class="flex-1" [class.bg-gray-300]="userform.get('sexo')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('sexo')?.disabled">
                                    <p-dropdown [options]="sexoLista" formControlName="sexo" optionLabel="nombre"
                                        optionValue="codigo" placeholder="Seleccione" styleClass="w-full border p-1">
                                    </p-dropdown>
                                </div>

                                <button class="cursor-pointer" pTooltip=" - Editar Información - " tooltipPosition="top"
                                    (click)="activarCampo(5)">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#FFD43B"
                                            d="M505 122.9L517.1 135C526.5 144.4 526.5 159.6 517.1 168.9L488 198.1L441.9 152L471 122.9C480.4 113.5 495.6 113.5 504.9 122.9zM273.8 320.2L408 185.9L454.1 232L319.8 366.2C316.9 369.1 313.3 371.2 309.4 372.3L250.9 389L267.6 330.5C268.7 326.6 270.8 323 273.7 320.1zM437.1 89L239.8 286.2C231.1 294.9 224.8 305.6 221.5 317.3L192.9 417.3C190.5 425.7 192.8 434.7 199 440.9C205.2 447.1 214.2 449.4 222.6 447L322.6 418.4C334.4 415 345.1 408.7 353.7 400.1L551 202.9C579.1 174.8 579.1 129.2 551 101.1L538.9 89C510.8 60.9 465.2 60.9 437.1 89zM152 128C103.4 128 64 167.4 64 216L64 488C64 536.6 103.4 576 152 576L424 576C472.6 576 512 536.6 512 488L512 376C512 362.7 501.3 352 488 352C474.7 352 464 362.7 464 376L464 488C464 510.1 446.1 528 424 528L152 528C129.9 528 112 510.1 112 488L112 216C112 193.9 129.9 176 152 176L264 176C277.3 176 288 165.3 288 152C288 138.7 277.3 128 264 128L152 128z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Genero</span>
                            <div class="flex items-center gap-2">
                                <div class="flex-1" [class.bg-gray-300]="userform.get('genero')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('genero')?.disabled">
                                    <p-dropdown [options]="generoLista" formControlName="genero" optionLabel="nombre"
                                        optionValue="codigo" placeholder="Seleccione" styleClass="w-full border p-1">
                                    </p-dropdown>
                                </div>


                                <button class="cursor-pointer" pTooltip=" - Editar Información - " tooltipPosition="top"
                                    (click)="activarCampo(6)">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#FFD43B"
                                            d="M505 122.9L517.1 135C526.5 144.4 526.5 159.6 517.1 168.9L488 198.1L441.9 152L471 122.9C480.4 113.5 495.6 113.5 504.9 122.9zM273.8 320.2L408 185.9L454.1 232L319.8 366.2C316.9 369.1 313.3 371.2 309.4 372.3L250.9 389L267.6 330.5C268.7 326.6 270.8 323 273.7 320.1zM437.1 89L239.8 286.2C231.1 294.9 224.8 305.6 221.5 317.3L192.9 417.3C190.5 425.7 192.8 434.7 199 440.9C205.2 447.1 214.2 449.4 222.6 447L322.6 418.4C334.4 415 345.1 408.7 353.7 400.1L551 202.9C579.1 174.8 579.1 129.2 551 101.1L538.9 89C510.8 60.9 465.2 60.9 437.1 89zM152 128C103.4 128 64 167.4 64 216L64 488C64 536.6 103.4 576 152 576L424 576C472.6 576 512 536.6 512 488L512 376C512 362.7 501.3 352 488 352C474.7 352 464 362.7 464 376L464 488C464 510.1 446.1 528 424 528L152 528C129.9 528 112 510.1 112 488L112 216C112 193.9 129.9 176 152 176L264 176C277.3 176 288 165.3 288 152C288 138.7 277.3 128 264 128L152 128z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div>
                            <span class="text-base font-semibold ">Previsión</span>
                            <div class="flex items-center gap-2">
                                <input type="text" formControlName="prevision" class="flex-grow border p-1 rounded-md"
                                    placeholder="19xxxxxx-x" [class.bg-gray-300]="userform.get('prevision')?.disabled"
                                    [class.cursor-not-allowed]="userform.get('prevision')?.disabled" />
                                <button class="cursor-pointer" pTooltip=" - Consultar Previsión - "
                                    tooltipPosition="top">
                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="36"
                                        width="36"
                                        viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                        <path fill="#3770f2"
                                            d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <button (click)="guardarInformacion()"
                            class="w-full bg-[#38C870] hover:bg-green-700 text-white font-semibold py-2 rounded-md mt-4 cursor-pointer">
                            Guardar Información
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="h-full w-full p-4">

            <div class="border-2 rounded-xl overflow-hidden h-full">
                <div class="bg-[#D9D9D9] text-black text-center py-3">
                    <span class="text-xl font-semibold">Atenciones Clínicas</span>
                </div>
                <div class="border-b mb-6"></div>
                <div class="p-4">
                    <div class="border rounded-lg overflow-hidden mb-4">
                        <button (click)="toggle(1)"
                            class="flex justify-between items-center w-full px-4 py-4 bg-white hover:bg-[#BCDBFF] text-left cursor-pointer">
                            <span class="font-semibold text-gray-800">
                                1. Atención Ambulatorio ({{anterioresAtencionesFiltroCDT.length}})
                            </span>
                            <svg [class.rotate-180]="!open1" class="transition-transform" data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m5 15 7-7 7 7" />
                            </svg>
                        </button>

                        <div [class.hidden]="!open1" class="px-4 pb-3 border-t">
                            <div *ngFor="let atencion of anterioresAtencionesFiltroCDT"
                                class="py-3 border-b border-dotted flex justify-between items-center">

                                <span>
                                    Episodio : {{ atencion.episodio }} |
                                    Fecha Atención: {{ atencion.fecha }}
                                </span>

                                <button (click)="abrirPdf(atencion)" class="cursor-pointer"
                                    pTooltip=" - Resumen Atención - " tooltipPosition="top">

                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24"
                                        width="24" viewBox="0 0 512 512">
                                        <path fill="#3770f2"
                                            d="M64 64C64 28.7 92.7 0 128 0L341.5 0c17 0 33.3 6.7 45.3 18.7l42.5 42.5c12 12 18.7 28.3 18.7 45.3l0 37.5-384 0 0-80zM0 256c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 96c0 17.7-14.3 32-32 32l-32 0 0 64c0 35.3-28.7 64-64 64l-256 0c-35.3 0-64-28.7-64-64l0-64-32 0c-17.7 0-32-14.3-32-32l0-96zM128 416l0 32 256 0 0-96-256 0 0 64zM456 272a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z" />
                                    </svg>

                                </button>

                            </div>

                        </div>
                    </div>

                    <div class="border rounded-lg overflow-hidden mb-4">
                        <button (click)="toggle(2)"
                            class="flex justify-between items-center w-full px-4 py-4 bg-white hover:bg-[#BCDBFF] text-left cursor-pointer">
                            <span class="font-semibold text-gray-800">
                                2. Atención Hospitalización ({{anterioresAtencionesFiltroHOSP.length || 0}})
                            </span>
                            <svg [class.rotate-180]="!open2" class="transition-transform" data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m5 15 7-7 7 7" />
                            </svg>
                        </button>

                        <div [class.hidden]="!open2" class="px-4 pb-3 border-t">
                            <div *ngFor="let atencion of anterioresAtencionesFiltroHOSP"
                                class="py-3 border-b border-dotted flex justify-between items-center">

                                <span>
                                    Episodio : {{ atencion.episodio }} |
                                    Fecha Atención: {{ atencion.fecha }}
                                </span>

                                <button (click)="abrirPdf(atencion)" class="cursor-pointer"
                                    pTooltip=" - Resumen Atención - " tooltipPosition="top">

                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24"
                                        width="24" viewBox="0 0 512 512">
                                        <path fill="#3770f2"
                                            d="M64 64C64 28.7 92.7 0 128 0L341.5 0c17 0 33.3 6.7 45.3 18.7l42.5 42.5c12 12 18.7 28.3 18.7 45.3l0 37.5-384 0 0-80zM0 256c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 96c0 17.7-14.3 32-32 32l-32 0 0 64c0 35.3-28.7 64-64 64l-256 0c-35.3 0-64-28.7-64-64l0-64-32 0c-17.7 0-32-14.3-32-32l0-96zM128 416l0 32 256 0 0-96-256 0 0 64zM456 272a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z" />
                                    </svg>

                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="border rounded-lg overflow-hidden mb-4">
                        <button (click)="toggle(3)"
                            class="flex justify-between items-center w-full px-4 py-4 bg-white hover:bg-[#BCDBFF] text-left cursor-pointer">
                            <span class="font-semibold text-gray-800">
                                3. Atención Urgencia Ambulatoría ({{anterioresAtencionesFiltroURG.length}})
                            </span>
                            <svg [class.rotate-180]="!open3" class="transition-transform" data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m5 15 7-7 7 7" />
                            </svg>
                        </button>

                        <div [class.hidden]="!open3" class="px-4 pb-3 border-t">
                            <div *ngFor="let atencion of anterioresAtencionesFiltroURG"
                                class="py-3 border-b border-dotted flex justify-between items-center">

                                <span>
                                    Episodio : {{ atencion.episodio }} |
                                    Fecha Atención: {{ atencion.fecha }}
                                </span>

                                <button (click)="abrirPdf(atencion)" class="cursor-pointer"
                                    pTooltip=" - Resumen Atención - " tooltipPosition="top">

                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24"
                                        width="24" viewBox="0 0 512 512">
                                        <path fill="#3770f2"
                                            d="M64 64C64 28.7 92.7 0 128 0L341.5 0c17 0 33.3 6.7 45.3 18.7l42.5 42.5c12 12 18.7 28.3 18.7 45.3l0 37.5-384 0 0-80zM0 256c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 96c0 17.7-14.3 32-32 32l-32 0 0 64c0 35.3-28.7 64-64 64l-256 0c-35.3 0-64-28.7-64-64l0-64-32 0c-17.7 0-32-14.3-32-32l0-96zM128 416l0 32 256 0 0-96-256 0 0 64zM456 272a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z" />
                                    </svg>

                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="border rounded-lg overflow-hidden mb-4">
                        <button (click)="toggle(4)"
                            class="flex justify-between items-center w-full px-4 py-4 bg-white hover:bg-[#BCDBFF] text-left cursor-pointer">
                            <span class="font-semibold text-gray-800">
                                4. Atenciones Domiciliarias ({{anterioresAtencionesFiltroDOM.length}})
                            </span>
                            <svg [class.rotate-180]="!open4" class="transition-transform" data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m5 15 7-7 7 7" />
                            </svg>
                        </button>

                        <div [class.hidden]="!open4" class="px-4 pb-3 border-t">
                            <div *ngFor="let atencion of anterioresAtencionesFiltroDOM"
                                class="py-3 border-b border-dotted flex justify-between items-center">

                                <span>
                                    Episodio : {{ atencion.episodio }} |
                                    Fecha Atención: {{ atencion.fecha }}
                                </span>

                                <button (click)="abrirPdf(atencion)" class="cursor-pointer"
                                    pTooltip=" - Resumen Atención - " tooltipPosition="top">

                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24"
                                        width="24" viewBox="0 0 512 512">
                                        <path fill="#3770f2"
                                            d="M64 64C64 28.7 92.7 0 128 0L341.5 0c17 0 33.3 6.7 45.3 18.7l42.5 42.5c12 12 18.7 28.3 18.7 45.3l0 37.5-384 0 0-80zM0 256c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 96c0 17.7-14.3 32-32 32l-32 0 0 64c0 35.3-28.7 64-64 64l-256 0c-35.3 0-64-28.7-64-64l0-64-32 0c-17.7 0-32-14.3-32-32l0-96zM128 416l0 32 256 0 0-96-256 0 0 64zM456 272a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z" />
                                    </svg>

                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="border rounded-lg overflow-hidden mb-4">
                        <button (click)="toggle(5)"
                            class="flex justify-between items-center w-full px-4 py-4 bg-white hover:bg-[#BCDBFF] text-left cursor-pointer">
                            <span class="font-semibold text-gray-800">
                                5. Intervenciones Quirúrgicas (Pabellón) ({{anterioresAtencionesFiltroQUI.length}})
                            </span>
                            <svg [class.rotate-180]="!open5" class="transition-transform" data-accordion-icon
                                class="w-5 h-5 rotate-180 shrink-0" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m5 15 7-7 7 7" />
                            </svg>
                        </button>

                        <div [class.hidden]="!open5" class="px-4 pb-3 border-t">
                            <div *ngFor="let atencion of anterioresAtencionesFiltroQUI"
                                class="py-3 border-b border-dotted flex justify-between items-center">

                                <span>
                                    Episodio : {{ atencion.episodio }} |
                                    Fecha Atención: {{ atencion.fecha }}
                                </span>

                                <button (click)="abrirPdf(atencion)" class="cursor-pointer"
                                    pTooltip=" - Resumen Atención - " tooltipPosition="top">

                                    <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24"
                                        width="24" viewBox="0 0 512 512">
                                        <path fill="#3770f2"
                                            d="M64 64C64 28.7 92.7 0 128 0L341.5 0c17 0 33.3 6.7 45.3 18.7l42.5 42.5c12 12 18.7 28.3 18.7 45.3l0 37.5-384 0 0-80zM0 256c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 96c0 17.7-14.3 32-32 32l-32 0 0 64c0 35.3-28.7 64-64 64l-256 0c-35.3 0-64-28.7-64-64l0-64-32 0c-17.7 0-32-14.3-32-32l0-96zM128 416l0 32 256 0 0-96-256 0 0 64zM456 272a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z" />
                                    </svg>

                                </button>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="h-full w-full p-4">
            <div class="h-[49%] border-2 rounded-xl overflow-hidden mb-4">
                <div class="bg-[#D9D9D9] text-black text-center py-3">
                    <span class="text-xl font-semibold">Proximas Atenciones</span>
                </div>
                <div class="border-b"></div>
                <div class="p-2 mt-2">
                    <p-table #dt [value]="proximasAtencionesFiltro" selectionMode="single"
                        [style]="{'table-layout': 'auto'}" [scrollable]="true" scrollHeight="500px">
                        <!-- Encabezados -->
                        <ng-template pTemplate="header">
                            <tr class="border-b ">
                                <th class="text-center border-r p-1">Atención</th>

                                <th class="text-center w-[100px] border-r">
                                    Especialidad
                                </th>

                                <th class="text-center border-r">Fecha Atención</th>

                                <th class="text-center">Acción</th>
                            </tr>
                        </ng-template>

                        <!-- Cuerpo -->
                        <ng-template pTemplate="body" let-rowData>
                            <tr class="border-b text-black">
                                <td class="text-center border-r">{{ rowData.atencion }}</td>

                                <td class="text-center w-[100px] whitespace-normal border-r p-2">
                                    {{ rowData.especialidad }}
                                </td>

                                <td class="text-center border-r">{{ rowData.fecha }}</td>

                                <td class="text-center px-4">
                                    <button (click)="confirmar(1)" class="cursor-pointer mr-2"
                                        pTooltip=" - Confirmar Cita - " tooltipPosition="top">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                                            viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                            <path fill="#63E6BE"
                                                d="M256 512a256 256 0 1 1 0-512 256 256 0 1 1 0 512zM374 145.7c-10.7-7.8-25.7-5.4-33.5 5.3L221.1 315.2 169 263.1c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l72 72c5 5 11.8 7.5 18.8 7s13.4-4.1 17.5-9.8L379.3 179.2c7.8-10.7 5.4-25.7-5.3-33.5z" />
                                        </svg>
                                    </button>
                                    <button (click)="confirmar(2)" class="cursor-pointer" pTooltip=" - Cancelar Cita - "
                                        tooltipPosition="top">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"
                                            viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                            <path fill="#ff2f2f"
                                                d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM167 167c9.4-9.4 24.6-9.4 33.9 0l55 55 55-55c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-55 55 55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-55-55-55 55c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l55-55-55-55c-9.4-9.4-9.4-24.6 0-33.9z" />
                                        </svg> </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>

            <div class="h-[49%] border-2 rounded-xl overflow-hidden ">
                <div class="bg-[#D9D9D9] text-black text-center py-3">
                    <span class="text-xl font-semibold">Resultados de Exámenes / Recetas Medicas</span>
                </div>
                <div class="border-b"></div>
                <div class="p-2">
                    <div class="grid grid-cols-3 gap-3 mb-4 mt-2">
                        <button
                            class="w-full border bg-[#2D8FFF] text-white font-semibold py-1 rounded-md cursor-pointer">
                            Laboratorio
                        </button>
                        <button
                            class="w-full border bg-[#BCDBFF] hover:bg-[#2D8FFF] text-black font-semibold py-1 rounded-md cursor-pointer">
                            Imagenología
                        </button>
                        <button
                            class="w-full border bg-[#BCDBFF] hover:bg-[#2D8FFF] text-black font-semibold py-1 rounded-md cursor-pointer">
                            Recetas Medicas
                        </button>

                    </div>
                    <p-table #dt [value]="resultadosFiltroLAB" selectionMode="single" [style]="{'table-layout': 'auto'}"
                        [scrollable]="true" scrollHeight="500px">
                        <!-- Encabezados -->
                        <ng-template pTemplate="header">
                            <tr class="border-b ">
                                <th class="text-center border-r p-1">Atención</th>

                                <th class="text-center w-[150px] border-r">
                                    Solicitud
                                </th>

                                <th class="text-center border-r">Estado</th>

                                <th class="text-center">Acción</th>
                            </tr>
                        </ng-template>

                        <!-- Cuerpo -->
                        <ng-template pTemplate="body" let-rowData>
                            <tr class="border-b text-black">
                                <td class="text-center border-r">{{ rowData.atencion }}</td>

                                <td class="text-center w-[150px] whitespace-normal border-r p-2">
                                    {{ rowData.solicitud }}
                                </td>

                                <td class="text-center border-r">{{ rowData.estado }}</td>

                                <td class="text-center px-4">
                                    <button (click)="abrirPdf(rowData)" class="cursor-pointer"
                                        pTooltip=" - Imprimir Resultados - ">

                                        <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24"
                                            width="24"
                                            viewBox="0 0 512 512"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                            <path fill="#3770f2"
                                                d="M64 64C64 28.7 92.7 0 128 0L341.5 0c17 0 33.3 6.7 45.3 18.7l42.5 42.5c12 12 18.7 28.3 18.7 45.3l0 37.5-384 0 0-80zM0 256c0-35.3 28.7-64 64-64l384 0c35.3 0 64 28.7 64 64l0 96c0 17.7-14.3 32-32 32l-32 0 0 64c0 35.3-28.7 64-64 64l-256 0c-35.3 0-64-28.7-64-64l0-64-32 0c-17.7 0-32-14.3-32-32l0-96zM128 416l0 32 256 0 0-96-256 0 0 64zM456 272a24 24 0 1 0 -48 0 24 24 0 1 0 48 0z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
    </div>

    <div class="w-full px-4 grid grid-cols-1 lg:grid-cols-2 items-center relative pb-4 shrink-0 gap-2">
        <div class="justify-center lg:justify-start place-self-center lg:place-self-start px-2">
            <span class="text-sm text-gray-500">
                ©Complejo Asistencial Hospital Barros Luco
            </span>
        </div>
        <div
            class="justify-center lg:justify-end place-self-center lg:place-self-end px-2 flex flex-col lg:flex-row items-center gap-2">
            <!-- BOTÓN QUE ABRE EL DIALOG -->
            <button class="w-auto bg-[#E6EB54] text-black py-1 rounded-md cursor-pointer p-3" (click)="openDialog()">
                Ingrese su felicitacion/reclamo
            </button>

            <!-- DIALOG -->

            <!-- DIALOG PRINCIPAL -->
            <p-dialog [(visible)]="displayDialog" [draggable]="false" [style]="{width: '750px','height':'auto'}"
                [contentStyle]="{'overflow': 'hidden'}" [closable]="true" [showHeader]="true" [modal]="true"
                [resizable]="false">

                <div class="p-4">
                    <!-- TITULO -->
                    <div class="text-center mb-4">
                        <span class="text-2xl font-semibold underline text-[#073763]">
                            Ingreso de Solicitud / Reclamo - Felicitación
                        </span>
                    </div>

                    <!-- CONTENEDOR PRINCIPAL -->
                    <div class="border rounded-lg p-4 px-4 mb-4">

                        <!-- SELECTOR TIPO REGISTRO -->
                        <div class="mb-4">
                            <label class="text-base font-semibold">Tipo de Registro</label>
                            <p-dropdown styleClass="w-full border p-1" [options]="tipoRegistro" optionLabel="label"
                                placeholder="Seleccione" [(ngModel)]="selectedTipo" class="w-full">
                            </p-dropdown>
                        </div>

                        <!-- =================== FORMULARIO: SOLICITUD =================== -->
                        <div *ngIf="selectedTipo?.value === 'solicitud'">

                            <div class="grid grid-cols-1 md:grid-cols-2 mb-3 gap-2">
                                <div class="flex flex-col">
                                    <label class="text-base font-semibold">Tipo de Solicitud</label>
                                    <p-dropdown styleClass="w-full border p-1" [options]="tipoSolicitud"
                                        optionLabel="label" placeholder="Seleccione" [(ngModel)]="selectedSolicitud"
                                        class="w-full">
                                    </p-dropdown>
                                </div>

                                <div class="flex flex-col">
                                    <label class="text-base font-semibold">Episodio</label>
                                    <p-dropdown styleClass="w-full border p-1" [options]="anterioresAtencionesSolicitud"
                                        optionLabel="episodio" placeholder="Seleccione episodio"
                                        [(ngModel)]="selectedEpisodio" class="w-full">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="text-base font-semibold">Correo electrónico</label>
                                <input pInputText [(ngModel)]="emailSolicitud" placeholder="correo@ejemplo.com"
                                    class="border p-1 rounded-md w-full" />
                            </div>

                            <div class="mb-3">
                                <label class="text-base font-semibold">Detalle</label>
                                <textarea pInputTextarea rows="5" [(ngModel)]="detalleSolicitud"
                                    class="border p-1 rounded-md w-full"></textarea>
                            </div>

                            <button (click)="guardarSolicitud()" [disabled]="!isSolicitudValid"
                                [ngClass]="{'opacity-50 cursor-not-allowed': !isSolicitudValid, 'hover:bg-blue-800': isSolicitudValid}"
                                class="w-full bg-blue-600 text-white font-semibold py-2 rounded-md cursor-pointer">
                                Guardar Solicitud
                            </button>
                        </div>

                        <!-- =================== FORMULARIO: RECLAMO / FELICITACIÓN =================== -->
                        <div *ngIf="selectedTipo?.value === 'reclamo'">

                            <div class="grid grid-cols-1 md:grid-cols-2 mb-3 gap-2">
                                <div class="flex flex-col">
                                    <label class="text-base font-semibold">Tipo</label>
                                    <p-dropdown styleClass="w-full border p-1" [options]="tipoReclamo"
                                        optionLabel="label" placeholder="Seleccione" [(ngModel)]="selectedReclamo"
                                        class="w-full">
                                    </p-dropdown>
                                </div>
                                <div class="flex flex-col">
                                    <label class="text-base font-semibold">RUT Emisor</label>
                                    <input pInputText [(ngModel)]="rutEmisor" placeholder="RUT de quien escribe"
                                        class="border p-1 rounded-md w-full" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="text-base font-semibold">Afectado</label>
                                <input pInputText [(ngModel)]="afectado" placeholder="Persona afectada"
                                    class="border p-1 rounded-md w-full" />
                            </div>

                            <div class="mb-3">
                                <label class="text-base font-semibold">Detalle</label>
                                <textarea pInputTextarea rows="5" [(ngModel)]="detalleReclamo"
                                    class="border p-1 rounded-md w-full"></textarea>
                            </div>

                            <button (click)="enviarReclamo()" [disabled]="!isReclamoValid"
                                [ngClass]="{'opacity-50 cursor-not-allowed': !isReclamoValid, 'hover:bg-green-800': isReclamoValid}"
                                class="w-full bg-green-600 text-white font-semibold py-2 rounded-md cursor-pointer">
                                Enviar Retroalimentación
                            </button>
                        </div>

                    </div>
                </div>

            </p-dialog>

            <span class="text-sm text-gray-500">
                Versión 1.0.4
            </span>
        </div>
    </div>
</div>