<div class="h-screen w-full bg-cover bg-center overflow-hidden">

    <!-- Aquí va tu header y el resto -->
    <header class="w-full p-2 px-4 grid grid-cols-2 items-center relative">



        <img src="https://portalpaciente.hospitalsoterodelrio.cl/Static/img/PortalPaciente.png" alt="Logo izquierdo"
            class="h-12">

        <img src="https://portalpaciente.hospitalsoterodelrio.cl/Static/img/PortalPaciente.png" alt="Logo derecho"
            class="h-12 justify-end place-self-end">

        <div class="absolute bottom-0 left-0 flex w-full h-[4px]">
            <div class="w-1/2 bg-[#0066B2]"></div>
            <div class="w-1/2 bg-[#EE3740]"></div>
        </div>
    </header>

    <div class="min-h-screen w-full bg-cover bg-center flex fondo-barros-luco">



        <div class="bg-white/60 w-full px-4 md:px-10 lg:px-14 py-6 md:py-8 grid grid-cols-12 gap-6 lg:gap-10">

            <!-- 🟦 SECCIÓN IZQUIERDA: TEXTO ADMINISTRADOR -->
            <div *ngIf="perfilSeleccionado === 1"
                class="hidden lg:block col-span-12 lg:col-span-8 text-gray-800 text-justify">
                <p class="text-base mb-4 text-justify w-[70%]">
                    Bienvenido al <span class="font-bold">Portal Administrador</span> del Complejo Asistencial Hospital
                    Barros Luco
                </p>

                <p class="text-base mb-4 w-[70%]">
                    Este portal está dirigido a funcionarios autorizados que atienden presencialmente a los usuarios en
                    el centro asistencial.
                    Permite buscar y seleccionar a un paciente en el sistema institucional para acceder,
                    en su nombre, a las mismas funcionalidades disponibles en el <span class="font-semibold">Portal del
                        Paciente</span>.
                </p>

                <p class="text-base w-[60%]">
                    El funcionario podrá consultar:
                </p>
                <ul class="list-disc ml-6 mb-2">
                    <li>Lista de Espera de Consulta Ambulatoria.</li>
                    <li>Lista de Espera de Exámenes de Imagenología.</li>
                    <li>Lista de Espera de Procedimientos.</li>
                    <li>Lista de Espera de Cirugías.</li>
                </ul>

                <p class="text-base w-[60%]">
                    Así como acceder y entregar al paciente copia de documentos clínicos tales como:
                </p>
                <ul class="list-disc ml-6 mb-2">
                    <li>Recetas de medicamentos ambulatorios, hospitalizados y Urgencia.</li>
                    <li>Resultados de exámenes (Laboratorio y Radiología).</li>
                    <li>Resumen de atenciones en el servicio de Urgencia.</li>
                </ul>

                <p class="text-base w-[70%]">
                    Además, podrá asistir al paciente en la actualización de información personal relevante para la
                    atención clínica:
                </p>
                <ul class="list-disc ml-6 mb-2">
                    <li>Dirección</li>
                    <li>Número de contacto</li>
                    <li>Nombre social</li>
                    <li>Ocupación</li>
                    <li>Religión</li>
                    <li>Pueblo originario</li>
                    <li>Otros</li>
                </ul>
            </div>

            <!-- 🟦 SECCIÓN IZQUIERDA: TEXTO OIRS -->
            <div *ngIf="perfilSeleccionado === 2"
                class="hidden lg:block col-span-12 lg:col-span-8 text-gray-800 text-justify">
                <p class="text-base mb-4 text-justify w-[70%]">
                    Bienvenido al <span class="font-bold">Portal OIRS</span> del Complejo Asistencial Hospital
                    Barros Luco
                </p>

                <p class="text-base mb-4 w-[70%]">
                    Este portal está destinado a los funcionarios de la <span class="font-semibold">Oficina de
                        Informaciones, Reclamos y Sugerencias (OIRS)</span>.
                    Permite gestionar y dar respuesta a las solicitudes de los pacientes, incluyendo felicitaciones,
                    reclamos y requerimientos asociados a su experiencia en el centro asistencial.
                </p>

                <p class="text-base w-[60%]">
                    Desde este portal, el funcionario podrá:
                </p>
                <ul class="list-disc ml-6 mb-2">
                    <li>Recibir, revisar y gestionar felicitaciones presentadas por los pacientes.</li>
                    <li>Gestionar reclamos y sugerencias, realizando el seguimiento correspondiente.</li>
                    <li>Registrar observaciones y avances durante la tramitación de cada caso.</li>
                </ul>

                <p class="text-base w-[60%]">
                    Además, podrá gestionar solicitudes de información clínica adicional que el paciente no puede
                    obtener directamente desde su Portal del Paciente, tales como:
                </p>
                <ul class="list-disc ml-6 mb-2">
                    <li>Solicitud de evoluciones médicas asociadas a un episodio específico.</li>
                    <li>Solicitud de recetas médicas.</li>
                    <li>Solicitud de resultados de exámenes no disponibles en el portal.</li>
                    <li>Otras solicitudes especiales de documentos clínicos.</li>
                </ul>

                <p class="text-base w-[70%]">
                    Cada solicitud estará asociada al paciente, a un episodio de atención y podrá incluir un detalle u
                    observación específica entregada por el usuario.
                    El paciente deberá proporcionar un correo electrónico válido para recibir los documentos solicitados
                    de manera segura y conforme a los protocolos de entrega de información.
                </p>
            </div>



            <!-- 🟥 SECCIÓN DERECHA: FORMULARIO LOGIN -->
            <div class="col-span-12 flex justify-center items-start lg:col-span-4">

                <div
                    class="bg-white/90 shadow-md border border-gray-300 rounded-xl p-6 md:p-8 w-full max-w-sm md:max-w-md">

                    <h2 class="text-center text-lg font-semibold mb-4 text-gray-600">
                        Accedas aquí con su clave única
                    </h2>

                    <img [src]="aceptaTerminos 
                  ? 'https://portalpaciente.hospitalsoterodelrio.cl/Static/img/ClaveUnica.png' 
                  : 'https://portalpaciente.hospitalsoterodelrio.cl/Static/img/ClaveUnicaDisabled.png'"
                        alt="Clave Única" class="mx-auto h-12 mb-4 cursor-pointer" />



                    <p class="font-semibold text-base text-center text-[#1A8BE0] mb-2">¿No tiene Clave Única? <a
                            class="text-black underline cursor-pointer"> clic aquí</a></p>


                    <!-- Checkbox -->
                    <label class="flex items-center space-x-1 mb-2 cursor-pointer">
                        <input type="checkbox" class="form-checkbox text-blue-600 border-gray-300 rounded"
                            [(ngModel)]="aceptaTerminos" />

                        <p class="font-semibold text-base text-[#1A8BE0] text-center">
                            Acepto los términos y condiciones de uso.
                        </p>
                    </label>

                    <p class="text-center font-bold mb-2">O</p>

                    <!-- Botones de selección de perfil -->
                    <div class="flex gap-4 mb-6 justify-center">
                        <button (click)="seleccionarPerfil(2)"
                            [ngClass]="{'bg-[#073763] text-white': perfilSeleccionado === 2, 'bg-gray-200 text-gray-700': perfilSeleccionado !== 2}"
                            class="px-4 py-2 rounded-md font-semibold transition-colors duration-200 hover:bg-opacity-90 flex-1">
                            OIRS
                        </button>
                        <button (click)="seleccionarPerfil(1)"
                            [ngClass]="{'bg-[#073763] text-white': perfilSeleccionado === 1, 'bg-gray-200 text-gray-700': perfilSeleccionado !== 1}"
                            class="px-4 py-2 rounded-md font-semibold transition-colors duration-200 hover:bg-opacity-90 flex-1">
                            Administrador
                        </button>
                    </div>

                    <!-- Inputs -->
                    <div class="space-y-2 mb-6">
                        <form [formGroup]="userform">
                            <div>
                                <p class="text-base">Identificador</p>
                                <input (keyup)="formatearRut()" formControlName="usuario" type="text"
                                    placeholder="19xxxxxx-x" class="w-full border p-2 rounded-md" />
                            </div>
                            <div>
                                <p class="text-base">Contraseña</p>
                                <input type="password" formControlName="clave" placeholder="*****"
                                    class="w-full border p-2 rounded-md" />
                            </div>
                        </form>
                    </div>

                    <!-- Botón ingresar -->
                    <button
                        class="w-full bg-green-600 hover:bg-green-700 text-white font-semibold py-2 rounded-md cursor-pointer"
                        (click)="login()">
                        Ingresar
                    </button>

                    <p class="text-center mt-6 text-base font-semibold text-[#1A8BE0]">
                        ¿Tiene dudas con el Portal Paciente?
                    </p>
                    <p class="text-base text-center text-[#1A8BE0] mb-4">revise la sección de <a
                            class="text-black underline cursor-pointer"> preguntas frecuentes aquí</a></p>

                    <p class="text-base text-center"><a class="text-black underline cursor-pointer">Leer términos y
                            condiciones de uso aquí</a></p>

                    <p class="text-end mt-2 text-xs text-gray-500">
                        Versión 1.0.2
                    </p>

                </div>
            </div>

        </div>

    </div>


</div>